* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  height: 100vh;
  padding: 1em;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}

h1 {
  background: #f7f7f7;
  padding: 1em 2em;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

span {
  display: block;
  padding: 1em;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
}

button {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 1em;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(36, 35, 35);
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(54, 54, 54);
}
